.film-list-item {
  width: 1000px;
  border-radius: 10px;
  border-color: white;
}
.list-item__genres-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.list-item__genre {
  color: grey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}

.list-item__date {
  margin: 0px;
  color: gray;
}
.list-item__title {
  margin-bottom: 5px;
  line-height: normal;
}

.list-item__info {
  display: flex;
  justify-content: space-between;
}

.list-item__rating {
  width: 20px;
  height: 20px;
  padding: 2px 2px 2px 3px;
  margin: 10px;
  border: 2px solid;
  border-radius: 50%;
}
