.film-list-item {
  width: 1000px;
  border-radius: 10px;
  border-color: white;
}
.list-item__genres {
  display: flex;
  flex-wrap: wrap;
}
.list-item__date {
  margin: 0px;
  color: gray;
}
.list-item__title {
  margin-bottom: 5px;
  line-height: normal;
}
